{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">
    <article class="post">

        {{> article-header}}

            <div class="post-reading">
                <span class="post-reading-time"></span> read
            </div>
        <section class="post-content">
            <a name="topofpage"></a>

            {{{page.content}}}
        </section>

        <footer class="post-footer"> 
            {{> social-share}}
        </footer>

	<!--
	<div
		data-firebase="now-commenting"
		data-auth="github google twitter facebook"
		data-slug="{{ page.slug }}"
		data-inline=".post-content"
		id="commented-main"></div>
	-->

        {{> written-powered}}

    </article>
</main>

<div class="bottom-closer">
    <div class="background-closer-image" {{#if theme.cover}}style="background-image: url({{theme.cover}})"{{/if}}>
        Image
    </div>
    <div class="inner">
        <h1 class="blog-title">{{config.title}}</h1>
        <h2 class="blog-description">{{config.subtitle}}</h2>
        <a href="/" class="btn">Back to Overview</a>
    </div>
</div>
