{{#if theme.main_image}}<a class="blog-logo" href="{{config.root}}" style="background-image: url({{asset theme.main_image}})">{{config.title}}</a>{{/if}}
<h1 class="blog-title">{{config.title}}</h1>
<h2 class="blog-description">{{config.subtitle}}</h2>

