<div class="bottom-teaser cf">
    <a href="/about" class="silent-link">
        <div class="isLeft">
            <h5 class="index-headline featured"><span>Written by</span></h5>
            <section class="author">
                <div class="author-image" style="background-image: url({{theme.author_image}})">Blog Logo</div>
                <h4>{{config.author}}</h4>
                <p class="bio">{{theme.bio}}</p>
                <hr>
                <p class="published">
                  Published <time datetime="{{date page.date format="YYYY-MM-DD"}}">{{date page.date format='DD MMM YYYY'}}</time>
                </p>
            </section>
        </div>
    </a>
    <div class="isRight">
        <h5 class="index-headline featured"><span>Supported by</span></h5>
        <footer class="site-footer">
            <section class="poweredby">Proudly published with <a class="icon-hexo" href="http://hexo.io"> Hexo</a></section>
            <a class="subscribe" href="{{abs "rss.xml"}}"><span class="tooltip">You should subscribe to my RSS feed.</span></a>
            <div class="inner">
              <section class="copyright">
                All content copyright <a href="{{config.root}}">{{config.title}}</a> &copy; {{date format="YYYY"}}<br>
                All rights reserved.
              </section>
            </div>
        </footer>
    </div>
</div>

