<div class="bottom-teaser cf">
    <a href="/about" class="silent-link">
        <div class="isLeft">
            <h5 class="index-headline featured"><span>Written by</span></h5>
            <section class="author">
                <div class="author-image" style="background-image: url({{theme.author_image}})">Blog Logo</div>
                <h4>{{config.author}}</h4>
                <p class="bio">{{theme.bio}}</p>
                <hr>
                <p class="published">
                  Published <time datetime="{{date page.date format="YYYY-MM-DD"}}">{{date page.date format='DD MMM YYYY'}}</time>
                </p>
            </section>
        </div>
    </a>
    <div class="isRight">
        <h5 class="index-headline featured"><span>Supported by</span></h5>
        <footer class="site-footer">
            <section class="poweredby">Proudly published with <a class="icon-hexo" href="http://hexo.io"> Hexo</a></section>
            <!--a class="subscribe" href="{{abs "rss.xml"}}"><span class="tooltip">You should subscribe to my RSS feed.</span></a-->

	{{#if theme.mailchimp_url}}
		<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
		<style type="text/css">
		#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
		#mc_embed_signup input.email,
		#mce-EMAIL {display: inline;}
		#mc_embed_signup input.button,
		#mce_embedded_subscribe {display: inline}
		#mc_embed_signup form {padding: 0;}
		</style>
		<div id="mc_embed_signup">
		<form action="{{theme.mailchimp_url}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
			<label for="mce-EMAIL">Get updates when I write things</label>
			<div style="position: absolute; left: -5000px;"><input type="text" name="b_06957907f913466231800b717_50788cf714" tabindex="-1" value=""></div>
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		</div>
		</form>
		</div>

		<!--End mc_embed_signup-->
	{{/if}}


            <div class="inner">
              <section class="copyright">
                All content copyright <a href="{{config.root}}">{{config.title}}</a> &copy; {{date format="YYYY"}}<br>
                All rights reserved.
              </section>
            </div>
        </footer>
    </div>
</div>

